Host jumptainer
  HostName YOUR_JUMP_HOST.cloudapp.azure.com
  Port 22222

Host gcr-sandbox-jupyter
  HostName YOUR_JUMP_HOST.cloudapp.azure.com
  Port 2222
  LocalForward 8888 YOUR_REMOTE_IP:8888
  RequestTTY force
  RemoteCommand /usr/bin/watch -n 60 ls

Host *
  User YOUR_USERNAME
  ForwardAgent yes
  ForwardX11 yes
  Compression yes
  Protocol 2
  ServerAliveInterval 60
  NoHostAuthenticationForLocalhost yes
  ControlMaster auto
  ControlPersist 600
  #ControlPath ~/.ssh/multiplex/%C
Host gcrnix
  Hostname YOUR_REMOTE_IP
  ProxyJump jumptainer
Host github.com
 Hostname ssh.github.com
 Port 443
